<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="MyApp" UpgradeCode="6fe30b47-2577-43ad-9095-1861ba25889b" Version="1.1.0" >
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication LicenseUrl="" />
    </BootstrapperApplicationRef>

    <Chain>
      <ExePackage Name="Installer" InstallCommand="/i" RepairCommand="/fa" UninstallCommand="/x" DetectCondition="MyAppInstalled" SourceFile="..\InstallerExe\InstallerExe.exe" Compressed="yes" />
    </Chain>

    <util:FileSearchRef Id="FileSearch1" />
  </Bundle>

  <Fragment >
    <util:FileSearch Path="[WindowsVolume]Users\user\source\repos\InstallTest\Ian\MyApp\MyApp.exe" Variable="MyAppInstalled" Result="exists" Id="FileSearch1" />
  </Fragment>
</Wix>

