<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Compressed="yes" ProductCode="6fe30b47-2577-43ad-9095-1861ca25989b" Name="MyApp" Language="1033" Version="1.0.0" UpgradeCode="6fe30b47-2577-43ad-9095-1861ba25889b" Manufacturer="user" InstallerVersion="200">
    <SummaryInformation Codepage="Windows-1252" />
    <Media Id="1" Cabinet="MyApp.cab" EmbedCab="yes" />

    <Directory Id="INSTALLDIR" Name="ABSOLUTEPATH">

      <Component Id="Component.readme.md_2755621359" Guid="6fe30b47-2577-43ad-9095-18615a941d02">
        <File Id="readme.md_2755621359" Source="Files\Docs\readme.md" />
      </Component>

      <Component Id="Component.MyApp.exe_2312859093" Guid="6fe30b47-2577-43ad-9095-186128ba7a57">
        <File Id="MyApp.exe_2312859093" Source="Files\Bin\MyApp.exe" />
      </Component>

      <Component Id="Component.MyApp.dll_1584920881" Guid="6fe30b47-2577-43ad-9095-1861e0c364ed">
        <File Id="MyApp.dll_1584920881" Source="Files\Bin\MyApp.dll" />
      </Component>

      <Component Id="Component.MyApp.pdb_1857361243" Guid="6fe30b47-2577-43ad-9095-18612d30d763">
        <File Id="MyApp.pdb_1857361243" Source="Files\Bin\MyApp.pdb" />
      </Component>

      <Component Id="Component.MyApp.runtimeconfig.json_3940549489" Guid="6fe30b47-2577-43ad-9095-1861f2162d05">
        <File Id="MyApp.runtimeconfig.json_3940549489" Source="Files\Bin\MyApp.runtimeconfig.json" />
      </Component>

      <Component Id="Component.nlog.config_2759518522" Guid="6fe30b47-2577-43ad-9095-1861de77c751">
        <File Id="nlog.config_2759518522" Source="Files\Bin\nlog.config" />
      </Component>

      <Directory Id="deps" Name="deps">

        <Component Id="Component.NLog.dll_3216105990" Guid="6fe30b47-2577-43ad-9095-1861f006bf11">
          <File Id="NLog.dll_3216105990" Source="Files\Bin\deps\NLog.dll" />
        </Component>

      </Directory>

      <Component Id="data.ini" Guid="6fe30b47-2577-43ad-9095-18610be8cfd5" KeyPath="yes">
        <IniFile Id="data.ini" Name="data.ini" Action="createLine" Directory="INSTALLDIR" Key="text" Section="user" Value="default" />

        <CreateFolder />
        <RemoveFolder Id="INSTALLDIR" On="uninstall" />
      </Component>

    </Directory>

    <UI />

    <WixUI Id="WixUI_Minimal" xmlns="http://wixtoolset.org/schemas/v4/wxs/ui" />

    <UI>
      <EmbeddedUI Id="WixSharp_EmbeddedUI_Asm" SourceFile="WixSharp.UI.CA.dll" />
    </UI>

    <Upgrade Id="6fe30b47-2577-43ad-9095-1861ba25889b">
      <UpgradeVersion Minimum="0.0.0.0" Maximum="1.0.0" IncludeMinimum="yes" IncludeMaximum="no" Property="UPGRADEFOUND" />
      <UpgradeVersion Minimum="1.0.0" IncludeMinimum="no" Property="NEWPRODUCTFOUND" />
    </Upgrade>

    <CustomAction Id="WixSharp_InitRuntime_Action" BinaryRef="WixSharp_InitRuntime_Action_File" DllEntry="WixSharp_InitRuntime_Action" Return="check" Execute="immediate" />
    <CustomAction Id="Set_CancelRequestHandler_Props" Property="CancelRequestHandler" Value="UpgradeCode=[UpgradeCode];INSTALLDIR=[INSTALLDIR];UILevel=[UILevel];ProductCode=[ProductCode];ADDLOCAL=[ADDLOCAL];ADDFEATURES=[ADDFEATURES]" />
    <CustomAction Id="CancelRequestHandler" BinaryRef="WixSharp_InitRuntime_Action_File" DllEntry="CancelRequestHandler" Return="check" Impersonate="no" Execute="deferred" />
    <CustomAction Id="WixSharp_Load_Action" BinaryRef="WixSharp_InitRuntime_Action_File" DllEntry="WixSharp_Load_Action" Return="check" Execute="immediate" />
    <CustomAction Id="WixSharp_BeforeInstall_Action" BinaryRef="WixSharp_InitRuntime_Action_File" DllEntry="WixSharp_BeforeInstall_Action" Return="check" Execute="immediate" />
    <CustomAction Id="Set_WixSharp_AfterInstall_Action_Props" Property="WixSharp_AfterInstall_Action" Value="WixSharp_AfterInstall_Handlers=[WixSharp_AfterInstall_Handlers];WIXSHARP_RUNTIME_DATA=[WIXSHARP_RUNTIME_DATA];INSTALLDIR=[INSTALLDIR];UILevel=[UILevel];ProductName=[ProductName];FOUNDPREVIOUSVERSION=[FOUNDPREVIOUSVERSION];UpgradeCode=[UpgradeCode];MsiLogFileLocation=[MsiLogFileLocation];INSTALLDIR=[INSTALLDIR];UILevel=[UILevel];ProductCode=[ProductCode];ADDLOCAL=[ADDLOCAL];ADDFEATURES=[ADDFEATURES]" />
    <CustomAction Id="WixSharp_AfterInstall_Action" BinaryRef="WixSharp_InitRuntime_Action_File" DllEntry="WixSharp_AfterInstall_Action" Return="check" Impersonate="no" Execute="deferred" />
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed" />
    <CustomAction Id="Set_DirAbsolutePath" Property="INSTALLDIR" Value="C:\Users\user\source\repos\InstallTest\Ian\MyApp" />

    <Binary Id="WixSharp_InitRuntime_Action_File" SourceFile="WixSharp.CA.dll" />
    <Binary Id="WixSharp_UIText" SourceFile="..\..\..\..\..\..\ProgramData\WixSharp\2.1.2.0\WixUI_en-US.wxl" />
    <Binary Id="WixSharp_LicenceFile" SourceFile="MyApp.licence.rtf" />
    <Binary Id="WixSharpUI_Bmp_Dialog" SourceFile="MyApp.dialog_bmp.png" />
    <Binary Id="WixSharpUI_Bmp_Banner" SourceFile="MyApp.dialog_banner.png" />

    <Property Id="WixSharp_UI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="UAC_WARNING" Value="Please wait for UAC prompt to appear.&#xD;&#xA;&#xD;&#xA;If it appears minimized then activate it from the taskbar." />
    <Property Id="WixSharp_InstallDialogs" Value="WixSharp.UI, Version=2.1.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.WelcomeDialog&#xA;WixSharp.UI, Version=2.1.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.LicenceDialog&#xA;WixSharp.UI, Version=2.1.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.SetupTypeDialog&#xA;WixSharp.UI, Version=2.1.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.FeaturesDialog&#xA;WixSharp.UI, Version=2.1.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.InstallDirDialog&#xA;WixSharp.UI, Version=2.1.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.ProgressDialog&#xA;WixSharp.UI, Version=2.1.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.ExitDialog" />
    <Property Id="WixSharp_ModifyDialogs" Value="WixSharp.UI, Version=2.1.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.MaintenanceTypeDialog&#xA;WixSharp.UI, Version=2.1.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.FeaturesDialog&#xA;WixSharp.UI, Version=2.1.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.ProgressDialog&#xA;WixSharp.UI, Version=2.1.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.ExitDialog" />
    <Property Id="WixSharp_Load_Handlers" Value="Installer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null|Installer.Program|Msi_Load" />
    <Property Id="WixSharp_BeforeInstall_Handlers" Value="Installer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null|Installer.Program|project_BeforeInstall&#xD;&#xA;Installer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null|Installer.Program|Msi_BeforeInstall" />
    <Property Id="WixSharp_AfterInstall_Handlers" Value="Installer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null|Installer.Program|Msi_AfterInstall" />
    <Property Id="INSTALLDIR_ABSOLUTEPATH" Value="C:\Users\user\source\repos\InstallTest\Ian\MyApp" />

    <Feature Id="Complete" Title="Complete" Level="1" AllowAbsent="yes">
      <ComponentRef Id="data.ini" />
      <ComponentRef Id="Component.readme.md_2755621359" />
      <ComponentRef Id="Component.MyApp.exe_2312859093" />
      <ComponentRef Id="Component.MyApp.dll_1584920881" />
      <ComponentRef Id="Component.MyApp.pdb_1857361243" />
      <ComponentRef Id="Component.MyApp.runtimeconfig.json_3940549489" />
      <ComponentRef Id="Component.nlog.config_2759518522" />
      <ComponentRef Id="Component.NLog.dll_3216105990" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Condition=" (1) " Action="WixSharp_InitRuntime_Action" Before="AppSearch" />
      <Custom Action="Set_CancelRequestHandler_Props" Before="InstallFinalize" />
      <Custom Condition=" (1) " Action="CancelRequestHandler" After="Set_CancelRequestHandler_Props" />
      <Custom Condition="1" Action="WixSharp_Load_Action" Before="AppSearch" />
      <Custom Condition="1" Action="WixSharp_BeforeInstall_Action" Before="InstallFiles" />
      <Custom Action="Set_WixSharp_AfterInstall_Action_Props" After="InstallFiles" />
      <Custom Condition="1" Action="WixSharp_AfterInstall_Action" After="Set_WixSharp_AfterInstall_Action_Props" />
      <Custom Condition="NEWPRODUCTFOUND" Action="PreventDowngrading" After="FindRelatedProducts" />

      <RemoveExistingProducts After="InstallInitialize" />

      <Custom Condition="(NOT Installed) AND (UILevel &lt; 5) AND (INSTALLDIR = ABSOLUTEPATH)" Action="Set_DirAbsolutePath" Before="AppSearch" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Condition="NEWPRODUCTFOUND" Action="PreventDowngrading" After="FindRelatedProducts" />
      <Custom Condition="(NOT Installed) AND (UILevel = 5) AND (INSTALLDIR = ABSOLUTEPATH)" Action="Set_DirAbsolutePath" Before="AppSearch" />
    </InstallUISequence>
  </Package>
</Wix>

